[Yesterday 1:02 pm] Haneef Mohammed
<!DOCTYPE html>
<html lang="en">
 
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lamination Job Card</title>
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffc0cb;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
 
        table {
            width: 100vw;
            height: 60vh;
            border-collapse: collapse;
            background-color: #ffc0cb;
            font-size: 12px;
        }
 
        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
 
        th {
            background-color: #e57373;
            color: white;
        }
 
        .header {
            font-weight: bold;
            background-color: #e57373;
            color: white;
        }
 
        .section-title {
            background-color: #e57373;
            color: white;
            text-align: left;
        }
</style>
</head>
 
<body>
<table>
<tr>
<td colspan="12" class="header" style="width: 80%;">RATHNA PACKAGING INDIA (P) LIMITED, UNIT-I, HOSUR</td>
<td colspan="4" rowspan="2" class="header" style="width: 20%;">SL NO.:</td>
</tr>
<tr>
<td colspan="10" class="header">LAMINATION JOB CARD (SOLVENT LESS)</td>
<td colspan="2" style="text-align: right;" class="header">REV / NO.: </td>
</tr>
<tr>
<td colspan="4" style="text-align: left;">WORK ORDER NO: <b></b></td>
<td colspan="4" style="text-align: left;">TARGET: <b></b></td>
<td colspan="4" style="text-align: left;">OPERATOR NAME:</td>
<td colspan="4" style="text-align: left;">DATE:</td>
</tr>
<tr>
<td colspan="4" style="text-align: left;">CUSTOMER: <b></b></td>
<td colspan="8" style="text-align: left;">PRODUCED: <b></b></td>
<td colspan="4" style="text-align: left;">M/C NAME:</td>
</tr>
<tr>
<td colspan="4" style="text-align: left;">JOB NAME: <b></b></td>
<td colspan="4" style="text-align: left;">BALANCE : <b></b></td>
<td colspan="4" style="text-align: left;">ASSISTANT NAME:</td>
<td colspan="4" style="text-align: left;">SHIFT:</td>
</tr>
<tr>
<td colspan="4" style="text-align: left;">SLEEVE SIZE:</td>
<td colspan="4" style="text-align: left;">MC SPEED:</td>
<td colspan="4" style="text-align: left;">PRODUCTION / Hr (KG):</td>
<td colspan="4" style="text-align: left;">DYAN LEVEL:</td>
</tr>
<tr>
<td colspan="16" class="section-title">PRODUCTION DETAILS</td>
</tr>
<tr>
<th>PRINTED <br />ROLL NO.</th>
<th>PRINTING <br />OP. NAME</th>
<th>PRINTED INPUT<br />ROLL IN (KGS)</th>
<th>SUP. NAME</th>
<th>SUP.<br />ROLL NO.</th>
<th>NET WT</th>
<th>OUT PUT<br />ROLL NO.</th>
<th>OUTPUT ROLL<br />IN WT. (KGS.)</th>
<th>OUTPUT<br />ROLL IN (MTRS.)</th>
<th>STARTING<br />TIME</th>
<th colspan="2">END TIME</th>
<th colspan="4">ADH GSM</th>
</tr>
<!-- Empty Rows for Data Entry -->
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="4"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="4"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<th colspan="4">POLY WASTAGE DETAILS</th>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="2">DAMAGE</td>
<td colspan="2"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="2">WRINKE</td>
<td colspan="2"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="2">CORE END</td>
<td colspan="2"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td colspan="2"></td>
<td colspan="2"></td>
<td colspan="2"></td>
</tr>
<tr>
<td colspan="14" style=" background-color: #e57373;
            color: white;
            text-align: center;">MATERIAL DETAILS</td>
<td rowspan="3" style=" background-color: #e57373;
            color: white;
            text-align: center;">BREAKDOWN <br/> DETIALS</td>
<td rowspan="3" style=" background-color: #e57373;
            color: white;
            text-align: center;">Hrs.</td>
 
        </tr>
 
        <tr>
<th>SL NO.</th>
<th colspan="5">RAW MATERIAL</th>
<th>SIZE</th>
<th>M/C</th>
<th>INPUT</th>
<th>RETURN</th>
<th>USED</th>
<th colspan="4">LINE CLEARANCE</th>
</tr>
<tr>
<td></td>
<td colspan="5"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>CLEARED</td>
<td>NOT CLEARED</td>
</tr>
<tr>
<td></td>
<td colspan="5"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>SOLVENT</td>
<td></td>
<td></td>
<td>SETTING DETAILS</td>
<td>TIME</td>
</tr>
<tr>
<td></td>
<td colspan="5"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>CYLINDER</td>
<td></td>
<td></td>
<td>SLEEVE CHANGE</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="5"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>RUBBER ROLLERS</td>
<td></td>
<td></td>
<td>CLEANING</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="2"></td>
<td><b>SUPPLIER</b></td>
<td><b>GRADE</b></td>
<td><b>BATHNO.</b></td>
<td><b>RATIO</b></td>
<td></td>
<td><b>INPUT</b></td>
<td></td>
<td><b>USED</b></td>
<td>DR. BLADE</td>
<td></td>
<td></td>
<td>TOTAL PRODN MIN/HRS.</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="2" style="text-align: left;">1.NCO</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>RAW MATERIAL</td>
<td></td>    
<td></td>
<td>JOB SETTING MIN</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="2" style="text-align: left;">2.OH</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>M/C.SURROUNDINGS</td>
<td></td>
<td></td>
<td>ROLL CHANGE MIN</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="2" style="text-align: left;"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>WASTE MATL.</td>
<td></td>
<td></td>
<td>NO PLANNING</td>
<td></td>
</tr>
<tr>
<td></td>
<td colspan="2" style="text-align: left;"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>ETHYL Wastage</td>
<td></td>
<td>PRINTED MATL.</td>
<td></td>
<td></td>
<td>BREAKDOWN MIN'S HRS.</td>
<td></td>
</tr>
<td colspan="2"><b>SCRAP DETAILS</b></td>
<td colspan="2"><b>KGS</b></td>
<td colspan="6"><b>MACHINE PARAMETER</b></td>
<td style="position: relative;" colspan="4" rowspan="6"><span style="position: absolute; left: 0; top: 0; padding-top: 0.5em;">CLEARED THE LINE FOR START UP OF LAMINATION PROCESS</span> <span style="position: absolute; left: 0; bottom: 0; padding-bottom: 0.5em;">CLEARED BY SHIFT SUPERVISOR SIGN.</span></td>
<td>CP PAINTINGS</td>
<td></td>
<tr>
<td colspan="2">PLAIN PE WASTAGE</td>
<td colspan="2"></td>
<td colspan="2">UNWINDER1</td>
<td></td>
<td colspan="2">COATING TEMP</td>
<td></td>
<td>TAG REMOVE</td>
<td></td>
</tr>
<tr>
<td colspan="2">PRINTED WASTAGE</td>
<td colspan="2"></td>
<td colspan="2">UNWINDER2</td>
<td></td>
<td colspan="2">NIP TEMPERATURE</td>
<td></td>
<td>TOTAL</td>
<td></td>
</tr>
<tr>
<td colspan="2">PACKING WASTE</td>
<td colspan="2"></td>
<td colspan="2">REWINDER</td>
<td></td>
<td colspan="2">NCO TEMPERATURE</td>
<td></td>
</tr>
<tr>
<td colspan="2">LAMINATION WASTE</td>
<td colspan="2"></td>
<td colspan="2">LC1</td>
<td></td>
<td colspan="2">OH TEMPERATURE</td>
<td></td>
</tr>
<tr>
<td style="border: none;"></td>
<td>TOTAL</td>
<td colspan="2"></td>
<td colspan="2">NIP PRESSURE</td>
<td></td>
<td colspan="2">COATER CURRENT</td>
<td></td>
</tr>
<td style="position: relative; height: 8vh;;" colspan="16"><span style="position: absolute; left: 0; bottom: 0; padding-left: 1em;"><b>OPERATOR SIGNATURE</b></span><span style="position: absolute; right: 0; bottom: 0; padding-right: 1em;"><b>SUPERVISOR SIGNATURE</b></span></td>
 
</tr>
</table>
</body>
 
</html>
 